div.graph_editor_container{
    margin: 10px;
    padding: 2px;
    //border: 1px solid #aaa;
    //-moz-border-radius: 10px;
    //-webkit-border-radius: 10px;
    overflow: auto;
    //font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

div#graph_editor_button_container{
    position: relative;
    overflow: auto;
    width: 100%;
    margin-bottom: 10px;
}

div.graph_editor_button{
    position: relative;
    float: left;
    cursor: pointer;
    padding: 5px 5px;
    /*text-shadow: 1px 1px white;*/
}


div.graph_editor_button:hover{
    text-decoration: underline;
}

div.graph_editor_button_on{
    text-decoration: underline;
}

div.graph_editor_undo_disabled{
    cursor: default;
    color: #777;
}

div.slider{
    width: 140px;
}

canvas.graph_editor_canvas{
    border: 1px solid #aaa;
    float: left;
    tabindex: 0;
}

div#graph_editor_menu{
    overflow: auto;
    padding: 0px 15px;
    float: left;
    margin-left: 20px;
    width: 270px;
    font-size: 15px;
}
div h4{
    padding: 0px;
    margin: 20px 0px 3px 0px;
}

div.infobox {
  min-height: 80px;
}

#help_dialog {
    height: 500px !important;
    overflow: auto;
}

input[type="button"] {
    font-size: inherit;
    margin-right:  3px;
    margin-bottom: 3px;
}
input[type="checkbox"] {
    margin-right: 0.5em;
}
div.slider {
    margin-left: 0.5em;
}

table {
    border-spacing: 5px 5px;
    border-collapse: separate;
    margin: 0.5em 0;
}

.hidden {
    display: none;
}
